.profile{
    min-height: 50vh;
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &__user{
        background: linear-gradient(90deg, var(--mantine-color-primary-9), var(--mantine-color-secondary-3));
        padding: 0.5rem;
        border-radius: 50%;
        display: inline-block;
    }
}