.banner{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(21, 31, 89, 0.5), rgba(21, 31, 89, 0.8)), url("@/assets/banner-bg-1.jpg") no-repeat center center / cover fixed;
    position: relative;
    border-bottom: 5px solid var(--mantine-color-secondary-6);

    &:after{
        content: "";
        position: absolute;
        left: 50%;
        bottom: -3rem;
        width: 0.15rem;
        height: 6rem;
        transform: translateX(-50%);
        background-color: var(--mantine-color-primary-6);
        opacity: 0;
    }

    &__stack{
        width: min(60rem, 100%);
    }
}