.banner{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("@/assets/banner-bg-1.jpg") no-repeat center center / cover fixed;
    position: relative;
    border-bottom: 5px solid var(--mantine-color-secondary-6);

    @media (max-width: mantine.$mantine-breakpoint-lg) {
        padding: 4rem;
    }

    @media (max-width: mantine.$mantine-breakpoint-md) {
        padding: 4rem 2rem;
    }


    &:after{
        content: "";
        position: absolute;
        left: 50%;
        bottom: -3rem;
        width: 0.15rem;
        height: 6rem;
        transform: translateX(-50%);
        background-color: var(--mantine-color-primary-6);
        opacity: 0;
    }

    &__stack{
        width: min(60rem, 100%);

        h1{
            @media (max-width: mantine.$mantine-breakpoint-sm) {
                font-size: 3rem !important;
            }

            @media (max-width: mantine.$mantine-breakpoint-xs) {
                font-size: 2.2rem !important;
                text-align: left !important;
            }
        }

        p{
            @media (max-width: mantine.$mantine-breakpoint-xs) {
                font-size: 0.9rem !important;
                text-align: left !important;
            }
        }
    }
}