.dets{
    padding: 4rem 6rem 0 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__root{
        border: 1px solid var(--mantine-color-gray-0);
    }

    &__tab{
        border-radius: 0.1rem;
        border: 1px solid transparent;
        margin-right: 0.3rem;
        border-right-color: transparent;
        background-color: #fcfcfc;

        &[data-active] {
            z-index: 1;
            background-color: var(--mantine-color-primary-7);
            border-color: transparent;
            color: var(--mantine-color-white);

            @mixin hover {
                background-color: var(--mantine-color-primary-filled-hover);
            }
        }
    }

    &__panel{
        padding: 1rem 0;
        background-color: transparent;
    }

    &__box{
        width: min(55rem, 100%);
        margin: 0 auto;
    }
}

.btnLabel{
    font-size: 0.75rem;
    text-transform: uppercase;
}