.cs{
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @media (max-width: mantine.$mantine-breakpoint-lg) {
        padding: 4rem;
    }

    @media (max-width: mantine.$mantine-breakpoint-md) {
        padding: 4rem 2rem;
    }

    @media (max-width: mantine.$mantine-breakpoint-xs) {
        gap: 2rem;
    }

    // &__root{
    //     border: 1px solid var(--mantine-color-gray-0);
    // }

    &__tab{
        border-radius: 0.1rem;
        border: 1px solid var(--mantine-color-gray-2);
        margin-right: 0.3rem;
        background-color: #f7f7f7;

        &[data-active] {
            z-index: 1;
            background-color: var(--mantine-color-primary-7);
            border-color: transparent;
            color: var(--mantine-color-white);

            @mixin hover {
                background-color: var(--mantine-color-primary-filled-hover);
            }
        }
    }

    &__panel{
        padding: 1rem 0;
        background-color: transparent;

        @media (max-width: mantine.$mantine-breakpoint-md) {
            padding: 1rem 2rem;
        }

        @media (max-width: mantine.$mantine-breakpoint-xs) {
            padding: 2rem 0;
        }
    }

    &__box{
        width: min(55rem, 100%);
        margin: 0 auto;
    }

    &__form{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__label{
            font-size: 0.85rem;
        }

        &__input{
            font-size: 0.85rem;
        }

        &__option{
            font-size: 0.85rem;
        }
    }
}

.btnLabel{
    font-size: 0.75rem;
    text-transform: uppercase;
}