.teams{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__stack{
        width: min(40rem, 100%);
        margin: 0 auto;
        text-align: center;

        >p{
            width: min(25rem, 100%);
            margin: 0 auto;
        }
    }

    &__card{
        height: 100%;
        border: 1px solid var(--mantine-color-gray-1);
    }

    &__user{
        background: linear-gradient(90deg, var(--mantine-color-primary-9), var(--mantine-color-secondary-3));
        padding: 0.5rem;
        border-radius: 50%;
        display: inline-block;
    }
}

.btnLabel{
    font-size: 0.75rem;
    text-transform: uppercase;
}