.faqs{
    padding: 6rem;

    &__stack{
        width: min(30rem, 100%);
    }

    &__image{
        border-top: 5px solid var(--mantine-color-primary-6);
        border-bottom: 5px solid var(--mantine-color-secondary-6);
    }
}

.btnLabel{
    font-size: 0.75rem;
    text-transform: uppercase;
}